@use "@/styles/variables" as *;
@use "sass:color";

.container {
  background-color: var(--bg-primary);
  place-items: center;
  padding-block: var(--section-padding);
  padding-inline: 1rem;

  @media (max-width: 480px) {
    padding-inline: 0.5rem;
  }
}
