
.container {
  background-color: var(--bg-primary);
  display: grid;
  justify-items: center;
  padding-block: var(--section-padding);
  padding-inline: 1rem;

  @media (max-width: 480px) {
    padding-inline: 0.5rem;
  }
}
