@import "@/styles/variables.module.scss";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: calc(100% - $navBarHeight);
}

body {
  height: 100%;
  margin-top: $navBarHeight;
}