@import "@/styles/variables";

.wrapper {
  display: grid;
  place-items: center;
  font-family: sans-serif;
  padding-block: 4em;
}

.homepage {
  background-color: $dark;
  padding-block: 6em;
}

.welcome {
  background-color: $lightGray;
}