@use "@/styles/variables" as *;
@use "sass:color";

.wrapper {
  display: grid;
  place-items: center;
  padding-block: var(--section-padding);
}

.homepage {
  background-color: var(--bg-primary);
  padding-block: var(--section-padding-lg);
}

.welcome {
  background-color: var(--bg-tertiary);
}

.featured {
  background-color: var(--bg-primary);
}