@use "@/styles/variables" as *;

.wrapper {
  background-color: var(--bg-secondary);
  padding-block: 2rem;
}

.container {
  max-width: 800px;
  margin-inline: auto;
  color: var(--text-primary);
  display: flex;
  gap: 3rem;
  justify-content: center;

  @media (max-width: 600px) {
    flex-direction: column;
    padding-inline: 2rem;
  }
}

.social {
  display: flex;
  flex-direction: column;
  
  @media (max-width: 600px) {
    align-items: center;
  }

  & > p {
    color: var(--text-primary);
    font-weight: 800;
    font-size: 1.5rem;
  }

  & > .icons {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    padding-block: 0.5rem;

    & > a {
      color: var(--text-primary);
      background: var(--bg-primary);
      width: 2.75rem;
      height: 2.75rem;
      display: grid;
      place-content: center;
      border-radius: var(--radius-sm);
      border: 2px solid var(--bg-tertiary);
      transition: all var(--transition);

      &:hover {
        background: $accent;
        border-color: $accent;
        transform: translateY(-3px) scale(1.05);
        box-shadow: var(--shadow-md);
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-inline: auto;
}

.navigate, .projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.9;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      width: 2rem;
      height: 0.15rem;
      background-color: $accent;
      border-radius: 0.1rem;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      transition: 0.3s all ease-in-out;
    }

    a {
      color: var(--text-secondary);
      text-decoration: none;
      opacity: 0.8;
      transition: 0.3s all ease-in-out;

      &:hover {
        color: $accent;
      }
    }

    li:hover {
      transform: translateX(0.5rem);

      a {
        color: $accent;
      }
    }
  }
}

.bottom {
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
  border-top: 1px solid var(--border-color);

  p {
    color: var(--text-secondary);

    span {
      color: $accent;
    }
  }
}